container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py createsu"
    leader_only: true
  03_parse_data:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py parse_bestiary"
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python src/manage.py collectstatic --noinput"
