{% extends 'base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Upload and Parse" />
    </form>

    <hr />

    {% if results %}
        <p>Created {{ results.created }} creatures.</p>
        <p>Updated {{ results.updated }} creatures.</p>

        {% if results.errors|length %}
            <p>Errors:</p>
            <ul>
            {% for error in results.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock content %}
